.licenceStyle {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1A535C;
    color: white;
    padding: 1%;
}

.cart-foods-div {
    border: #CCCCCC;
    border-style: dashed;
    border-radius: 20px;
    padding: 20px;
}

.cart-food-item {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px
}

.cart-food-counter-text {
    text-align: center;
    margin: 5%;
}

.finalize-cart-btn {
    display: flex;
    justify-content: center
}

.card-header {
    background-color: #FF6B6B;
    color: white;
}

.card-body {
    background-color: #F7FFF7;
}

.logo-style{
    background: url('../images/LOGO.png');
}