@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

img.top {
    object-fit: cover;
    object-position: 0 -300px;
    width: 100%;
    height: 400px;
    background: rgba(255, 0, 0, 1);
}

div.top {
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translate(+50%, 0);
}

.description {
    color: white;
    margin-top: 15px;
    text-shadow: pink;
    font-size: 30px;
}

img.logo {

    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 5px 5px 1px grey;*/
}

.form_container {
    background-color: #F7FFF7;
}

form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border: 3px solid #f1f1f1;
    background-color: white;
    text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 50%;
    text-align: center;
    padding: 12px 20px;
    margin: 10px auto 10px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-color: #4ECDC4;
}

.credential_labels {
    right: 50%;
    margin: auto;
    color: #4ECDC4;
}
/* Set a style for all buttons */

button {
    background-color: #1A535C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: block;
}
/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.down_button {
    width: auto;
    padding: 10px 18px;
    background-color: #ff6b6b;
    align-self: end;
    margin: 0px auto 0px auto;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}
/* Change styles for span and cancel button on extra small screens */


footer.copy_right {
    background-color: #1A535C;
}

div.copy_right {
    color: white;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    position: relative;
    right: 50%;
    /*transform: translate(50%, 0);*/

}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .down_button {
        width: 100%;
    }
}

.submit-btn-style{
    margin: 0px auto 10px auto
}