.CardBodyStyle {
    min-height: 525px;
}

.CreditNavigationStyle {
    justify-content: center;
    position: relative;
    top: 40px
}

.increaseCreditBtnStyle {
    background-color: #4ECDC4;
    color: white;
    width: 150px;
    margin-right: 2%
}

.input-style {
    background-color: #F1F1F1;
    width: 300px;
    padding: 5px;
    margin-left: 2%
}

.input-btn-row {
    justify-content: center;
    align-items: center;
}

.tabs-container-style {
    background-color: white;
    border-radius: 25px
}

.generic-tab-content-style {
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.profile-order-item-style {
    background-color: #FBFBFB;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.restaurant-detail-header {
    text-align: center;
    color: black;
}

.modal-content {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.total-price {
    color: black;
    font-weight: bold;
}