.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

.restaurant-menu-item {
    max-width: 150px;
    max-height: 180px
}

.btn-add-cart {
    background-color: #FFE66D;
    padding: 3px;
    text-align: center;
    font-size: 11px
}

.restaurant-logo {
    justify-content: center;
    position: relative;
    top: 100px
}

.home-logo{
    justify-content: center;
}

.home-logo-img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
}

.restaurant-logo-img {
    height: 180px;
    width: 180px;
    border-radius: 20px
}

.bold-txt {
    color: black;
    font-weight: bold
}

.cart-title {
    border-bottom: 1px solid black;
    font-weight: bold
}

.home-back-img{
    background-image: url("../images/Cover_Photo.jpg");
    background-size: inherit;
    background-repeat: no-repeat;
}

.title-style-1{
    color: #1A535C;
    font-size: 50px;
    text-decoration: underline;
}

.old-price{
    color: #6c757d;
    text-decoration: line-through red;
}